[card] img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
[card]{
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.8);;
}
[card]>.foot{
    padding: 20px;
    color: white;
}
[card]>.foot>.head{
    display:flex;
}

[card]>.foot>.foot{
    display:flex;
}

[card]>.foot>.foot>*{
    width: 100%;
    text-align:center
}

.title{
    font-weight: bold;
    width: 100%;
}

.search {
    background-color: rgba(0,0,0,0.1);
    padding: 40px;
    color: white;
    width: 100%;
}

.search>div {
    display: flex;
    align-items: center;
    height: 50px;
}

.search>div input:not([type="checkbox"], [type="radio"]){
    width:200px;
}

.search>div>span{
    padding: 0 30px;
}

.search>div>*:not(span), .search>div>* input:not([type="checkbox"], [type=range]s){
    width: 100%;
}

[body]{
    display:flex;
    overflow: hidden;
}
[body]>div{
    height:100%;
}
#cart{
    width: 50%;
}
#grid_container{
    width: 100%;
    overflow: auto;
}

@media only screen and (max-width : 1000px) {
    [body]{
        display:block;
        overflow:auto;
    }
    #grid_container{
        width: 100%;
        overflow: hidden;
    }
    [body]>div{
        width:100% !important;
        height:auto;
    }
}

@media only screen and (max-width : 1200px) {
    #cart{
        width: 75%;
    }
}

#cart:only-child{
    width: 100% !important;
}